$identifier: 'article-collection';
$class: '.' + $identifier;

#{$class} {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (width > 1135px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        > article:nth-child(1) {
            grid-column: 1 / -1;
        }

        > article:nth-child(2),
        > article:nth-child(3) {
            grid-column: span 1;
        }
    }
}