$identifier: 'row';
$class: '.' + $identifier;

#{$class} {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__title {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 2rem;
        line-height: 2rem;

        @media (width > 325px) {
            font-size: 2.5rem;
            line-height: 2.5rem;
        }

        @media (width > 375px) {
            font-size: 3rem;
            line-height: 3rem;
        }

        @media (width > 475px) {
            font-size: 4rem;
            line-height: 4rem;
        }

        @media (width > 750px) {
            font-size: 5rem;
            line-height: 5rem;
        }

        @media (width > 1135px) {
            text-align: start;
        }
    }
}