$identifier: 'hero-article';
$class: '.' + $identifier;

#{$class} {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 20px;
    gap: 20px;
    padding: 20px;
    background: var(--light-gray);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: all .3s ease;

    &:hover {
        transform: translateY(2px);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        height: 100%;
    }

    &__text {
        font-weight: 500;
    }

    &__icon {
        font-size: 1.75rem;
    }

    &__button {
        width: fit-content;
        margin-left: auto;
        padding: 5px;
        border-radius: 5px;
        color: black;
        cursor: pointer;

         svg {
             font-size: 1rem;
         }
    }

    &:hover {
        background: #ddd;
    }
}