$identifier: 'hero';
$class: '.' + $identifier;

#{$class} {
    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        @media (width > 1135px) {
            align-items: flex-start;
        }

        &-header {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 550px;
            text-align: center;

            @media (width > 1135px) {
                text-align: left;
            }
        }

        &-title, &-span {
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 900;
            letter-spacing: 0.2rem;

            @media (width > 325px) {
                font-size: 2.5rem;
                line-height: 2.5rem;
            }

            @media (width > 375px) {
                font-size: 3rem;
                line-height: 3rem;
            }

            @media (width > 475px) {
                font-size: 4rem;
                line-height: 4rem;
            }

            @media (width > 750px) {
                font-size: 5rem;
                line-height: 5rem;
            }
        }

        &-container {
            display: flex;
            justify-content: center;
            gap: 15px;

            @media (width > 400px) {
                gap: 30px;
            }

            @media (width > 1135px) {
                justify-content: flex-start;
            }
        }

        &-counter {
            display: flex;
            flex-direction: column;
            max-width: 130px;

            &-title {
                font-size: 2.5rem;

                @media (width > 400px) {
                    font-size: 3rem;
                }
            }
        }

        &-articles {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 20px;
            width: 100%;

            @media (width > 575px) {
                flex-direction: row;
            }
        }
    }

    a {
        text-decoration: none;
        color: black;
    }
}