$identifier: 'hero';
$class: '.' + $identifier;

#{$class} {
    &__column {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &-header {
            display: flex;
            flex-direction: column;
        }

        &-title, &-span {
            font-size: 5rem;
            line-height: 5rem;
            font-weight: 900;
            letter-spacing: 0.2rem;
        }

        &-container {
            display: flex;
            gap: 30px;
        }

        &-counter {
            display: flex;
            flex-direction: column;
            max-width: 130px;

            &-title {
                font-size: 3rem;
            }
        }

        &-articles {
            display: flex;
            gap: 30px;
        }
    }
}