$identifier: 'article-item';
$class: '.' + $identifier;

#{$class} {
    border-radius: 15px;
    transition: background .3s ease;
    background: #eee;

    &__inner {
        position: relative;
        display: flex;
        padding: 15px;
        gap: 15px;
    }

    &__link {
        text-decoration: none;
        color: black;
    }

    &__media {
        max-height: 135px;
        max-width: 135px;

        &--full-width {
            max-height: 135px;
            max-width: 135px;

            @media (width > 1135px) {
                max-height: 135px;
                max-width: 50%;
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 15px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__button {
        display: none;
        position: absolute;
        right: 25px;
        top: 15px;
        font-size: 1.75rem;
        transition: all .3s ease;
        background: none;
        pointer-events: none;
        border: none;

        @media (width > 500px) {
            display: block;
        }
    }

    &__title {
        font-weight: 600;
    }

    &:hover {
        background: #ddd;

        button {
            transform: rotate(90deg);
        }
    }
}