@use '../../scss/variables/colors';

$identifier: 'form';
$class: '.' + $identifier;

#{$class} {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;

    &__button {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background: var(--cyan-blue);
        font-weight: 600;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        transition: all .3s ease;

        &:hover {
            transform: translateY(2px);
        }
    }
}