:root {
    --pale-pink: #FFAFCC;
    --cyan-blue: #A2D2FF;
    --light-gray: #EEEEEE;
    --dark-gray: #BEBEBE;
    --deepsky-blue: #00BFFF;
}

//$primary: #CDB4DB;
//$secondary: #FFC8DD;
//$pale-pink: #FFAFCC;
//$background: #BDE0FE;
//$cyan-blue: #A2D2FF;
//
//$primary-text: #333;
//$secondary-text: #555;